.pagination {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
}

.pagination button {
 height: var(--input-height);
  border: none;
  border-radius: var(--border-radius);
  padding: 4px;
  color: var(--color-gray-2);
  background-color: transparent;

    &:hover:not(:disabled){
    color: var(--color-dark-2);
    background-color: transparent;
  }

  &:active{
    scale: 1.05;
  
  }

}

[data-js-todo-pagination] > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-width: 70%;
  margin: 0 8px;
}



.pagination button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.pagination .active {
    color: var(--color-dark-2); 
}

.pagination button:first-child,
.pagination button:last-child{
  flex-shrink: 0;
  
  color: var(--color-dark-2);
}


.pagination button:first-child{
  padding:0;
}



